.todo-list {
    font-family: 'Roboto';
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #1a1a1d;
    color: #fff;
    margin: 10px;
}